h1 {

    color:#841010;
    font-family: 'Montserrat', sans-serif;


}

body {
    background-color: #FEFFF5;
}
.centertext{
    text-align: center;
    background-color: lightblue;
}
.topbar{
    display: flex;
    padding: 0;
    justify-content: center;
    list-style: none;
}
.topbar a{
    padding: 20px
}

.welcometext{
    font-size: 75px;
}
header{
    text-align: center;
    background-color: #7fffd4;
}
.imggrid{
    display: inline-grid;
    grid-template-columns: 10fr 2fr;
}
footer{
    text-align: center;
    background-color: #7fffd4;
}